{% extends 'base.html' %}

{% block content %} 
    <p>Use the Links below to contact me</p>
    <div style="text-align:center" class="links">
        <span>Social Links</span><br><BR>
            <a href="https://github.com/brianblue05">GITHUB<i class="fab fa-github"></i></a><br><BR>
        <a href="https://www.facebook.com/Brian.Mawira.Kirimi/">FACEBOOK<i class="fab fa-facebook"></i></a><br><BR>
        <a href="https://twitter.com/Brianmawira254">TWITTER<i class="fab fa-twitter"></i></a><br><BR>
        <a href="https://www.instagram.com/brianmawira254/">INSTAGRAM<i class="fab fa-instagram"></i></a><br><BR>
      </div>
{% endblock %}